#mainPage #mainPageContent #challengePageContent #challengeCompleteTitle #challengeTitle {
    color: #0EC269;
}

#mainPage #mainPageContent #challengePageContent #challengeCompleteTitle #challengeSubTitle {
    color: #001F5A;

    text-shadow:
    1px 1px 0 rgb(211, 210, 208),
    -1px 1px 0 rgb(211, 210, 208),
    -2px -2px 0 rgb(211, 210, 208),
    2px -2px 0 rgb(211, 210, 208);
}

#mainPage #mainPageContent #challengePageContent #levelsListTitle {
    background-color: #0CAA91;
}

#mainPage #mainPageContent #challengePageContent #levelsListTitle #levelsListTitleHeading {
    color: #0EC269;
}

#mainPage #mainPageContent #challengePageContent #levelsList {
    background-color: #0CAA91;
}

#mainPage #mainPageContent #challengePageContent #levelsList .levelUnit {
    background-color: #001F5A;
    border: 0.2rem solid #08588D;

    min-height: 37.8rem;
    max-height: 37.8rem;
}

#mainPage #mainPageContent #challengePageContent #levelsList .levelUnit:hover {
    /* transform: scale(1.04);
    transition: transform .4s; */
    background-color: rgb(15, 142, 226);
}

#mainPage #mainPageContent #challengePageContent #levelsList .levelUnit .levelImage img {
    border: 0.2rem solid #08588D;
}

#mainPage #mainPageContent #challengePageContent #levelsList .levelUnit .levelInfo .levelName {
    color: #0EC269;

    text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000;
}

#mainPage #mainPageContent #challengePageContent #levelsList .levelUnit .levelInfo .levelStats {
    background-color: #08588D;
}

#mainPage #mainPageContent #challengePageContent #levelsList .levelUnit .levelInfo .levelStats .levelNumbers {
    color: #0EC269;

    text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000;
}