#mainPage #mainPageContent #challengePageContent #challengeCompleteTitle #challengeTitle {
    color: rgb(211, 210, 208);
}

#mainPage #mainPageContent #challengePageContent #challengeCompleteTitle #challengeSubTitle {
    color: #043b83;

    text-shadow:
    1px 1px 0 rgb(211, 210, 208),
    -1px 1px 0 rgb(211, 210, 208),
    -2px -2px 0 rgb(211, 210, 208),
    2px -2px 0 rgb(211, 210, 208);
}

#mainPage #mainPageContent #challengePageContent #levelsListTitle {
    background-color: rgb(211, 210, 208);
}

#mainPage #mainPageContent #challengePageContent #levelsListTitle #levelsListTitleHeading {
    color: white;
}

#mainPage #mainPageContent #challengePageContent #levelsList {
    background-color: rgb(211, 210, 208);
}

#mainPage #mainPageContent #challengePageContent #levelsList .levelUnit {
    background-color: #043b83;
    border: 0.2rem solid rgb(160, 8, 8);
}

#mainPage #mainPageContent #challengePageContent #levelsList .levelUnit:hover {
    /* transform: scale(1.04);
    transition: transform .4s; */
    background-color: #0f2e55;
}

#mainPage #mainPageContent #challengePageContent #levelsList .levelUnit .levelImage img {
    border: 0.2rem solid rgb(160, 8, 8);
}

#mainPage #mainPageContent #challengePageContent #levelsList .levelUnit .levelInfo .levelName {
    color: white;

    text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000;
}

#mainPage #mainPageContent #challengePageContent #levelsList .levelUnit .levelInfo .levelStats {
    background-color: red;
}

#mainPage #mainPageContent #challengePageContent #levelsList .levelUnit .levelInfo .levelStats .levelNumbers {
    color: white;

    text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000;
}