#mainPage #mainPageContent #challengePageContent #challengeCompleteTitle #challengeTitle {
    color: #229BD4;
}

#mainPage #mainPageContent #challengePageContent #challengeCompleteTitle #challengeSubTitle {
    color: #814AA3;
}

#mainPage #mainPageContent #challengePageContent #levelsListTitle {
    background-color: #0B1C47;
}

#mainPage #mainPageContent #challengePageContent #levelsListTitle #levelsListTitleHeading {
    color: #229BD4;
}

#mainPage #mainPageContent #challengePageContent #levelsList {
    background-color: #0B1C47;
}

#mainPage #mainPageContent #challengePageContent #levelsList .levelUnit {
    background-color: #814AA3;
    border: 0.2rem solid #0e648b;
}

#mainPage #mainPageContent #challengePageContent #levelsList .levelUnit:hover {
    /* transform: scale(1.04);
    transition: transform .4s; */
    background-color: rgb(81, 3, 117);
}

#mainPage #mainPageContent #challengePageContent #levelsList .levelUnit .levelImage img {
    border: 0.2rem solid #0e648b;
}

#mainPage #mainPageContent #challengePageContent #levelsList .levelUnit .levelInfo .levelName {
    color: #229BD4;

    text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000;
}

#mainPage #mainPageContent #challengePageContent #levelsList .levelUnit .levelInfo .levelStats {
    /* background-color: #b85bdd; */
    background-color: #e151e6;
}

#mainPage #mainPageContent #challengePageContent #levelsList .levelUnit .levelInfo .levelStats .levelNumbers {
    color: #229BD4;

    text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000;
}