#mainPage #mainPageContent #challengePageContent #challengeCompleteTitle #challengeTitle {
    color: #FDDA00;
}

#mainPage #mainPageContent #challengePageContent #challengeCompleteTitle #challengeSubTitle {
    color: #EF9828;
}

#mainPage #mainPageContent #challengePageContent #levelsListTitle {
    background-color: #93BE62;
}

#mainPage #mainPageContent #challengePageContent #levelsListTitle #levelsListTitleHeading {
    color: #FDDA00;
}

#mainPage #mainPageContent #challengePageContent #levelsList {
    background-color: #93BE62;
}

#mainPage #mainPageContent #challengePageContent #levelsList .levelUnit {
    background-color: #429EF2;
    border: 0.2rem solid rgb(123, 123, 221);
}

#mainPage #mainPageContent #challengePageContent #levelsList .levelUnit:hover {
    /* transform: scale(1.04);
    transition: transform .4s; */
    background-color: rgb(41, 41, 194);
}

#mainPage #mainPageContent #challengePageContent #levelsList .levelUnit .levelImage img {
    border: 0.2rem solid #8BB823;
}

#mainPage #mainPageContent #challengePageContent #levelsList .levelUnit .levelInfo .levelName {
    color: #FDDA00;
    display: flex;
    align-items: center;

    text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000;
}

#mainPage #mainPageContent #challengePageContent #levelsList .levelUnit .levelInfo .levelName .mk8dTrackPlatform {
    color: white;
    margin-right: 1.5rem;
    padding: 0.5rem;
    font-size: 2.3rem;
    background-color: #242222;
    border-radius: 1rem;

    text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000;
}

#mainPage #mainPageContent #challengePageContent #levelsList .levelUnit .levelInfo .levelStats {
    background-color: #cc443b;
}

#mainPage #mainPageContent #challengePageContent #levelsList .levelUnit .levelInfo .levelStats .levelNumbers {
    color: #FDDA00;

    text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000;
}