#mainPage #mainPageContent #challengePageContent #levelsListTitle {
    background-color: #139CD2;
}

#mainPage #mainPageContent #challengePageContent #levelsListTitle #levelsListTitleHeading {
    color: aqua;
}

#mainPage #mainPageContent #challengePageContent #levelsList {
    background-color: #139CD2;
}

#mainPage #mainPageContent #challengePageContent #levelsList .levelUnit {
    background-color: #1472AF;
    border: 0.2rem solid darkblue;
}

#mainPage #mainPageContent #challengePageContent #levelsList .levelUnit:hover {
    /* transform: scale(1.04);
    transition: transform .4s; */
    background-color: darkblue;
}

#mainPage #mainPageContent #challengePageContent #levelsList .levelUnit .levelImage img {
    border: 0.2rem solid darkblue;
}

#mainPage #mainPageContent #challengePageContent #levelsList .levelUnit .levelInfo .levelName {
    color: aqua;

    text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000;
}

#mainPage #mainPageContent #challengePageContent #levelsList .levelUnit .levelInfo .levelStats {
    background-color: steelblue;
}

#mainPage #mainPageContent #challengePageContent #levelsList .levelUnit .levelInfo .levelStats .levelNumbers {
    color: aqua;

    text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000;
}